#workphoto_album ul li {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	padding: 1rem;
	vertical-align: top;
	margin-bottom: 2rem;
	position: relative;
}
@media (min-width: 768px) {
	#workphoto_album ul li {
		width: calc(50% - 4px);
	}
}
@media (min-width: 1024px) {
	#workphoto_album ul li {
		width: calc(33% - 4px);
	}
}

#workphoto_album ul li a {
	display: block;
}
#workphoto_album ul li a:hover img {
	opacity: 0.7;
}
#workphoto_album ul li h3 {
	color: #333333;
	margin: 0.8rem 0 0.4rem;
}



#workphoto_view ul li {
	width: calc(50% - 4px);
	display: inline-flex;
	flex-direction: column;
	padding: 1rem;
	margin-bottom: 2rem;
	vertical-align: top;
	position: relative;
}
@media (min-width: 768px) {
	#workphoto_view ul li {
		width: calc(33% - 4px);
	}
}
@media (min-width: 1366px) {
	#workphoto_view ul li {
		width: calc(20% - 4px);
	}
}
@media (min-width: 1680px) {
	#workphoto_view ul li {
		width: calc(12.5% - 4px);
	}
}
